<div class="container">
<h1 align="center"">About Blog</h1>
</div>
<%= link_to 'Home', root_path ,class:"btn btn-primary btn-large"%>
<%= link_to 'SignUp', signup_path, class:"btn btn-primary btn-large"%>
<%= link_to 'LogIn', login_path, class:"btn btn-primary btn-large"%>