<h1 >Welcome to Blog</h1>


<%= link_to 'About', about_path, class:"btn btn-primary btn-large"%>
<%= link_to 'SignUp', signup_path, class:"btn btn-primary btn-large"%>
<%= link_to 'LogIn', login_path, class:"btn btn-primary btn-large"%>


